<h3>Login using these services</h3>

<% if flash[:notice]  %>
  <div class="alert alert-warning">
    <%= flash[:notice]  %>
  </div>
<% end %>

<% if flash[:error]  %>
  <div class="alert alert-error">
    <%= flash[:error]  %>
  </div>
<% end %>
<a href="/auth/twitter">
  <%= image_tag("auths/twitter_64.png") %>
</a>

<a href="/auth/facebook">
  <%= image_tag("auths/facebook_64.png") %>
</a>

<a href="/auth/google_oauth2">
  <%= image_tag("auths/google_64.png") %>
</a>

<p>or just
  <%= link_to("login", login_url) %> or
  <%= link_to("signup", register_url) %>
</p>

<%# render 'sessions/form' %>
