<% if flash[:notice]  %>
  <div class="alert">
    <%= flash[:notice]  %>
  </div>
  <% end %>
<%=form_tag :login, :method=>:post do %>
  <%= label_tag :email %>
  <%= email_field_tag :email %>
  <%= label_tag :password %>
  <%= password_field_tag :password %>
  <%= submit_tag "login" %>
<% end %>