<%= form_for @user, :html=>{:role=>"form"} do |f| %>
  <h3>Signup Now</h3>

  <% if flash[:notice]  %>
    <div class="alert alert-warning">
      <%= flash[:notice]  %>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :email %><br>
    <%= f.email_field :email, :class=>"form-control"%>
  </div>
  <div class="field form-group">
    <%= f.label :password %><br>
    <%= f.password_field :password, :class=>"form-control" %>
  </div>

  <div class="field form-group">
    <%= f.label :password_confirmation, "Type Again" %><br>
    <%= f.password_field :password_confirmation, :class=>"form-control" %>
  </div>
  <div class="actions form-group">
    <%= f.submit "Signup", :class=>"form-control" %>
  </div>
  <%= link_to "or login now", :login %>
<% end %>
