<div>
  <span class="alert alert-info">click category name to edit</span>
</div>
<div>
  <span class="alert alert-warning">After removing a category, all feeds under it will be transfer to Default</span>
</div>
<%= form_for @category, url: :categories, :html=> {:class=>"form-inline", :role=>"form"} do |f| %>
  <div class="form-group">
    <%= f.label :name, "Category Name" %>
    <%= f.text_field :name, class: "form-control" %>
    <%= f.submit "Add", class: "form-control" %>
  </div>
<% end %>
<ol class="categories">
</ol>
<script>
  var cat_json = <%=@categories.to_json.html_safe%>;
</script>
<%=javascript_include_tag :settings %>
