<!DOCTYPE html>
<html>
<head>
  <title>Reader</title>
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => false %>
  <%= stylesheet_link_tag    "reader", media: "all", "data-turbolinks-track" => false %>
  <%= javascript_include_tag "application"%>
  <%= javascript_include_tag "reader"%>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<%= render "common/tracking" %>

<script src="//cdnjs.cloudflare.com/ajax/libs/ace/1.1.01/ace.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/ace/1.1.01/theme-twilight.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/ace/1.1.01/mode-scss.js"></script>
</body>
</html>
