<!DOCTYPE html>
<html>
<head>
  <title>Reader</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "settings", media: "all", "data-turbolinks-track" => false %>
  <%= javascript_include_tag "application"%>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container settings center-block">
  <%=button_to "back to reader", :reader, :class=>"btn btn-primary" , :method => :get%>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs">
    <!--<li><a href="/settings/preference" >Preference</a></li>-->
    <li><a href="/settings/categories" >Manage Categories</a></li>
    <!--<li><a href="#subscriptions" >Manage Subscriptions</a></li>-->
    <!--<li><a href="#password" >Password</a></li>-->
  </ul>

  <div class="container">
    <%= yield %>
  </div>
</div>
<%= render "common/tracking" %>

</body>
</html>
